@model Rocky.Models.Category
<div class="form-group row">
    <div class="col-8 offset-4 row">

        <div class="col">
            <input type="submit" class="btn btn-info" w="100" value="Create" />
        </div>
        <div class="col">
            <a asp-action="Index" class="btn btn-success" w="100">Back</a>


        </div>
    </div>
</div>
